* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    background-color: black;
}

.webPageContainer {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.topNavigation {
    display: flex;
    /*width: 100vw;*/
    width: 100%;
    /*background-color: yellow;*/
    align-items: center;
    justify-content: space-between;
}

.tableMenuBarContainer {
    display: flex;
    gap: 10px;
}

.tabletMenu {
    /*border: 2px solid green;*/
    /*width: 100%;*/
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
    display: none;
   
}

.desktopMenu {
    /*border: 1px solid red;*/
    /*width: 20vw;*/
    /*width: 15vw;*/
    width: 155px;
    height: 100vh;
    padding-top: 30px;
    /*display: none;*/
}

.mobileMenu {
    width: 300px;
    height: 250px;
    border: 1px solid #059DB9;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 20%;
    align-content: center;
    text-align: center;
    line-height: 25px;
    display: none;
}

.tabletButton {
    border: 1px solid #059DB9;
    border-radius: 5px;
    width: 120px;
    min-width: 80px;
    height: 30px;
    text-align: center;
    align-content: center;
    font-size: 12px;
    margin-left: 10px;
}

.desktopButton {
    border: 1px solid #059DB9;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    text-align: left;
    /*align-content: center;*/
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
    box-sizing: border-box;
    padding-left: 7px;
    display: flex;
}

.desktopButtorDecor {
    height: 100%;
    padding-right: 7px;
}

.mobileButton {
   font-weight: bold;
}

.menuButton {
    text-transform: uppercase;
    font-weight: bold;
}

#openMenu:target {
    display: block;
}

.navLinks {
    list-style: none;
}

.navLinks a {
    color: white;
}

.navLinks a:hover {
    color: #059DB9;
}

.navLinksTablet {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    /*display: none;*/
}

.navLinksDesktop {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hamburger {
    width: 30px;
    height: 30px;
    display: none;
}

a {
    text-decoration: none;
    /*color: white;*/
}

h1 {
    color: white;
}

/*Desktop Grid for Index.html*/
.gridContainer {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr; /* Left column 1fr, Right column 2fr */
    grid-template-areas:
        "title image"
        "text image"
        "button image";
    gap: 0.2rem;
}

.title {
    /*width: 30vw;*/
    font-size: 16px;
    text-transform: uppercase;
    background-color: purple;
    grid-area: title;
}

.image {
    background-color: blue;
    grid-area: image;
}

.text {
    background-color: pink;
    grid-area: text;
}

.button {
    background-color: lime;
    grid-area: button;
}

img {
    object-fit: cover;
}

/*Desktop Grid Container for the About Me page*/
.gridContainerAbout {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr; /* Left column 1fr, Right column 2fr */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "aboutTitle aboutTitle"
        "aboutText aboutImage"
        "aboutPurposeTitle aboutPurposeTitle"
        "aboutPurposeText aboutPurposeText";
    gap: 0.2rem;
}

.aboutTitle {
    /*width: 30vw;*/
    font-size: 16px;
    text-transform: uppercase;
    background-color: lime;
    grid-area: aboutTitle;
}

.aboutImage {
    background-color: aqua;
    grid-area: aboutImage;
}

.aboutText {
    background-color: violet;
    grid-area: aboutText;
}

.aboutPurposeTitle {
    background-color: yellow;
    grid-area: aboutPurposeTitle;
}

.aboutPurposeText {
    background-color: orange;
    grid-area: aboutPurposeText;
}

/*Desktop Grid Container for the Services page*/
.gridContainerServices {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "servicesTitle servicesTitle servicesTitle"
        "servicesImage01 servicesImage02 servicesImage03"
        "serviceTitle01 serviceTitle02 serviceTitle03"
        "serviceText01 serviceText02 serviceText03";
    gap: 0.2rem;
}

.servicesTitle {
    font-size: 16px;
    text-transform: uppercase;
    background-color: pink;
    grid-area: servicesTitle;
}

.servicesImage01 {
    background-color: aqua;
    grid-area: servicesImage01;
}

.servicesImage02 {
    background-color: aqua;
    grid-area: servicesImage02;
}

.servicesImage03 {
    background-color: aqua;
    grid-area: servicesImage03;
}

.serviceTitle01 {
    background-color: yellow;
    grid-area: serviceTitle01;
}

.serviceTitle02 {
    background-color: yellow;
    grid-area: serviceTitle02;
}

.serviceTitle03 {
    background-color: yellow;
    grid-area: serviceTitle03;
}

.serviceText01 {
    background-color: orange;
    grid-area: serviceText01;
}

.serviceText02 {
    background-color: orange;
    grid-area: serviceText02;
}

.serviceText03 {
    background-color: orange;
    grid-area: serviceText03;
}


/*Tablet*/
@media only screen and (max-width: 1000px) {
    body {
        /*background-color: aqua;*/
        padding: 20px;
    }

    .webPageContainer {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .desktopMenu {
        display: none;
    }

    .tabletMenu {
        display: block;
    }

    .gridContainer {
        grid-template-columns: 1fr; 
        grid-template-areas:
            "title"
            "image"
            "text"
            "button";
        gap: 0.2rem;
    }

    /*tablet*/
.gridContainerServices {
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "servicesTitle servicesTitle"
        "servicesImage01 serviceTitle01"
        "servicesImage01 serviceText01"
        "serviceTitle02 servicesImage02"
        "serviceText02  servicesImage02"
        "servicesImage03 serviceTitle03"
        "servicesImage03 serviceText03";
}

   


}


/*Mobile*/
@media only screen and (max-width: 700px) {
    body {
        /*background-color: pink;*/
        padding: 10px;
    }

    .webPageContainer {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .tabletMenu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .gridContainerAbout {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "aboutTitle"
            "aboutImage"
            "aboutText"
            "aboutPurposeTitle"
            "aboutPurposeText";
        gap: 0.2rem;
    }

     /*mobile*/
     .gridContainerServices {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "servicesTitle"
            "servicesImage01" 
            "serviceTitle01"
            "serviceText01"
            "servicesImage02"
            "serviceTitle02"
            "serviceText02"
            "servicesImage03" 
            "serviceTitle03"
            "serviceText03";
    }
}

.pageContent {
    /*width: 400px;*/
    height: 85vh;
    flex-grow: 1;
   
    border: 1px solid red;
}

/*------------------------------*/


/*@media screen and (min-width: 601px) and (max-width: 1400px) {
    .mobileMenu {
        display: none !important;
    }
}*/

@media screen and (min-width: 601px) {
    .mobileMenu {
        display: none !important;
    }
}

