* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    /*background-color: black;*/
}



.logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.topNavigation {
    display: flex;
    /*width: 100vw;*/
    width: 100%;
    background-color: yellow;
    align-items: center;
    justify-content: space-between;
}

.tableMenuBarContainer {
    display: flex;
    gap: 10px;
}

.tabletMenu {
    /*border: 2px solid green;*/
    /*width: 100%;*/
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
    display: none;
   
}

.desktopMenu {
    border: 1px solid red;
    /*width: 20vw;*/
    width: 15vw;
    height: 100vh;
    padding-top: 30px;
    /*display: none;*/
}

.mobileMenu {
    width: 300px;
    height: 250px;
    border: 1px solid #059DB9;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 20%;
    align-content: center;
    text-align: center;
    line-height: 25px;
    display: none;
}

.tabletButton {
    border: 1px solid #059DB9;
    border-radius: 5px;
    width: 120px;
    min-width: 80px;
    height: 30px;
    text-align: center;
    align-content: center;
    font-size: 12px;
    margin-left: 10px;
}

.desktopButton {
    border: 1px solid #059DB9;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    text-align: left;
    /*align-content: center;*/
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
    box-sizing: border-box;
    padding-left: 7px;
    display: flex;
}

.desktopButtorDecor {
    height: 100%;
    padding-right: 7px;
}

.mobileButton {
   font-weight: bold;
}

.menuButton {
    text-transform: uppercase;
    font-weight: bold;
}

#openMenu:target {
    display: block;
}

.navLinks {
    list-style: none;
    color: white;
}

.navLinksTablet {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    /*display: none;*/
}

.navLinksDesktop {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hamburger {
    width: 30px;
    height: 30px;
    display: none;
}

a {
    text-decoration: none;
    /*color: white;*/
}

/*Tablet*/
@media only screen and (max-width: 1000px) {
    body {
        background-color: aqua;
        padding: 20px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .desktopMenu {
        display: none;
    }

    .tabletMenu {
        display: block;
    }

}


/*Mobile*/
@media only screen and (max-width: 700px) {
    body {
        background-color: pink;
        padding: 10px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .tabletMenu {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

/*@media screen and (min-width: 601px) and (max-width: 1400px) {
    .mobileMenu {
        display: none !important;
    }
}*/

@media screen and (min-width: 601px) {
    .mobileMenu {
        display: none !important;
    }
}

