* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    background-color: black;
}

.webPageContainer {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.topNavigation {
    display: flex;
    /*width: 100vw;*/
    width: 100%;
    /*background-color: yellow;*/
    align-items: center;
    justify-content: space-between;
}

.tableMenuBarContainer {
    display: flex;
    gap: 10px;
}

.tabletMenu {
    /*border: 2px solid green;*/
    /*width: 100%;*/
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
    display: none;

}

.desktopMenu {
    /*border: 1px solid red;*/
    /*width: 20vw;*/
    /*width: 15vw;*/
    width: 155px;
    height: 100vh;
    padding-top: 30px;
    /*display: none;*/
}

.mobileMenu {
    width: 300px;
    height: 250px;
    border: 1px solid #059DB9;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 20%;
    align-content: center;
    text-align: center;
    line-height: 25px;
    display: none;
}

.tabletButton {
    border: 1px solid #059DB9;
    border-radius: 5px;
    width: 120px;
    min-width: 80px;
    height: 30px;
    text-align: center;
    align-content: center;
    font-size: 12px;
    margin-left: 10px;
}

.desktopButton {
    border: 1px solid #059DB9;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    text-align: left;
    /*align-content: center;*/
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
    box-sizing: border-box;
    padding-left: 7px;
    display: flex;
}

.desktopButtorDecor {
    height: 100%;
    padding-right: 7px;
}

.mobileButton {
    font-weight: bold;
}

.menuButton {
    text-transform: uppercase;
    font-weight: bold;
}

#openMenu:target {
    display: block;
}

.navLinks {
    list-style: none;
}

.navLinks a {
    color: white;
}

.navLinks a:hover {
    color: #059DB9;
}

.navLinksTablet {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    /*display: none;*/
}

.navLinksDesktop {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hamburger {
    width: 30px;
    height: 30px;
    display: none;
}

a {
    text-decoration: none;
    /*color: white;*/
}

h1 {
    color: white;
}

/*Desktop*/
.pageContent {
    /*width: 400px;*/
    height: 80vh;
    flex-grow: 1;
    margin: 50px 100px;

    /*border: 1px solid red;*/
}

/*Desktop*/

/*Desktop Grid for Index.html*/
.gridContainer {
    display: grid;
    height: 75vh;
    /*grid-template-columns: 0.8fr 1.2fr;*/
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 0.7fr 1fr 0.3fr;*/
    grid-template-rows: 100px 1fr 60px;
    grid-template-areas:
        "title image"
        "text image"
        "button image";
    gap: 0.2rem;
}

.title {
    /*width: 30vw;*/
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 auto;
    /*background-color: purple;*/
    grid-area: title;
}

.image {
    /*background-color: blue;*/
    grid-area: image;
}

.gridItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.text {
    /*background-color: pink;*/
    width: 350px;
    min-width: 350px;
    padding-top: 50px;
    margin: 0 auto;
    font-size: 22px;
    color: white;
    grid-area: text;
}

.button {
    background-color: lime;
    grid-area: button;
}

.buttonDiv {
    margin: 0 auto;
    margin-top: 40px;
}

.downloadCVButton {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    /*border: none;*/
    /*margin-top: 10px;*/
    margin: 10px 0 0 0;
    background-color: #059DB9;
    /*border: 1px solid red;*/
    justify-content: center;
}

img {
    object-fit: cover;
}

.sectionHeader {
    /*border: 1px solid red;*/
    max-width: 350px;
    font-size: 30px;
    text-align: left;
    color: #059DB9;
    text-transform: uppercase;
}

.aboutHeader {
    font-size: 30px;
    text-align: center;
    color: #059DB9;
    text-transform: uppercase;
    /*border: 1px solid red;*/
}

.skillsHeader, .portfolioHeader {
    font-size: 30px;
    text-align: center;
    color: #059DB9;
    text-transform: uppercase;
}


/*Desktop Grid Container for the About Me page*/
.gridContainerAbout {
    display: grid;
    height: 70vh;
    width: 100%;
    grid-template-columns: 1.5fr 1fr;
    /* Left column 1fr, Right column 2fr */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "aboutTitle aboutTitle"
        "aboutText aboutImage"
        "aboutPurposeTitle aboutPurposeTitle"
        "aboutPurposeText aboutPurposeText";
    gap: 1.5rem;
    justify-content: center;
}

.aboutTitle {
    /*width: 30vw;*/
    font-size: 16px;
    text-transform: uppercase;
    /*background-color: lime;*/
    justify-self: center;
    grid-area: aboutTitle;
}

.aboutImage {
    /*background-color: aqua;*/
    width: 100%;
    max-width: 350px;
    min-width: 285px;
    justify-self: center;
    grid-area: aboutImage;
}

/*All about texts */
.allAboutTexts {
    /*max-width: 250px;
    text-align: center;*/
    font-size: 22px;
    color: white;
}

.aboutText {
    /*background-color: violet;*/

    width: 100%;
    max-width: 605px;
    min-width: 420px;

    grid-area: aboutText;
}

.aboutPurposeTitle {
    /*background-color: yellow;*/
    justify-self: center;
    grid-area: aboutPurposeTitle;
}

.aboutPurposeText {
    /*background-color: orange;*/
    grid-area: aboutPurposeText;
}

/*Desktop Grid Container for the Services page*/
.gridContainerServices {
    display: grid;
    height: 60vh;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 1fr;
    grid-template-areas:
        "servicesTitle servicesTitle servicesTitle"
        "servicesImage01 servicesImage02 servicesImage03"
        "serviceTitle01 serviceTitle02 serviceTitle03"
        "serviceText01 serviceText02 serviceText03";
    gap: 1.5rem;

    justify-content: center;
}

.servicesTitle {
    font-size: 16px;
    text-transform: uppercase;
    /*background-color: pink;*/
    align-self: start;
    grid-area: servicesTitle;
}

.allServicesImages {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.allPortfolioImages {
    /*width: 100%;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
}

.servicesImage01 {
    /*background-color: aqua;*/
    width: 250px;
    height: 200px;
    align-self: start;
    grid-area: servicesImage01;
}

/*.servicesImage01 {
    width: 350px;
    height: 250px;
}*/

.servicesImage02 {
    /*background-color: aqua;*/
    width: 250px;
    height: 200px;
    align-self: start;
    grid-area: servicesImage02;
}

.servicesImage03 {
    /*background-color: aqua;*/
    width: 250px;
    height: 200px;
    align-self: start;
    grid-area: servicesImage03;
}

/*Styling for all service titles*/
.serviceTitles {
    text-align: center;
    padding: 0 5%;
}

.serviceTitle01 {
    /*background-color: yellow;*/
    /*border: 1px solid red;*/
    align-self: start;
    grid-area: serviceTitle01;
}

.serviceTitle02 {
    /*background-color: yellow;*/
    align-self: start;
    grid-area: serviceTitle02;
}

.serviceTitle03 {
    /*background-color: yellow;*/
    align-self: start;
    grid-area: serviceTitle03;
}

/*All service texts */
.allServiceTexts {
    max-width: 250px;
    text-align: center;
    font-size: 22px;
    color: white;
}



.serviceText01 {
    /*background-color: orange;*/
    align-self: start;
    grid-area: serviceText01;
}

.serviceText02 {
    /*background-color: orange;*/
    align-self: start;
    max-width: 200px;
    grid-area: serviceText02;
}

.serviceText03 {
    /*background-color: orange;*/
    align-self: start;
    max-width: 200px;
    grid-area: serviceText03;
}

/*Desktop Grid Container for the Skills page*/
.gridContainerSkills {
    display: grid;
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas:
        "skillsTitle skillsTitle skillsTitle skillsTitle skillsTitle skillsTitle"
        "skillsEducation skillsEducation skillsSkills skillsSkills skillsTools skillsTools"
        "skillsRealWorld skillsRealWorld skillsRealWorld skillsSchool skillsSchool skillsSchool ";
    gap: 2rem;

    justify-content: center;
   
}

.skillsTitle {
    font-size: 16px;
    text-transform: uppercase;
    background-color: purple;
    width: 100%;
    border: 1px solid red;
    grid-area: skillsTitle;
}

.educationBox, .skillsBox, .toolsBox {
    width: 300px;
    height: 250px;
    border: 1px solid white;
    padding: 20px auto;
    border-radius: 20px;
}

.realWorldBox, .schoolProjectBox {
    width: 100%;
    height: 250px;
    border: 1px solid white;
    padding: 20px auto;
    border-radius: 20px;
}

.educationTitle, .skillsBoxTitle, .toolsTitle, .realWorldTitle, .schoolProjectTitle {
    text-align: center;
    padding: 15px 0;
}

.educationContent, .skillsContent, .toolsContent, .realWorldContent, .schoolProjectContent {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    color: white;
    /*padding: 10px 0;*/
    border: 1px solid yellow;
}

.skillsEducation {
    background-color: red;
    justify-content: center;
    margin: 0 auto;
    grid-area: skillsEducation;
}

.skillsSkills {
    background-color: orange;
    margin: 0 auto;
    grid-area: skillsSkills;
}

.skillsTools {
    background-color: pink;
    margin: 0 auto;
    grid-area: skillsTools;
}

.skillsRealWorld {
    background-color: lime;
    grid-area: skillsRealWorld;
}

.skillsSchool {
    background-color: aqua;
    grid-area: skillsSchool;
}


/*Desktop Grid Container for the Portfolio page*/
.gridContainerPortfolio {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 0.2fr 0.8fr 0.2fr;
    grid-template-areas:
        "portfolioTitle portfolioTitle portfolioTitle"
        "portfolioImage01 portfolioImage02 portfolioImage03"
        "projectTitle01 projectTitle02 projectTitle03"
        "portfolioImage04 portfolioImage05 portfolioImage06"
        "projectTitle04 projectTitle05 projectTitle06";
    gap: 1.5rem;
    justify-items: center;
}

.portfolioTitle {
    font-size: 16px;
    text-transform: uppercase;
    /*background-color: green;*/
    grid-area: portfolioTitle;
}

.portfolioImage01 {
    /*background-color: yellow;*/
    text-align: center;
    grid-area: portfolioImage01;
}

.portfolioImage02 {
    /*background-color: lightblue;*/
    text-align: center;
    grid-area: portfolioImage02;
}

.portfolioImage03 {
    /*background-color: aqua;*/
    text-align: center;
    grid-area: portfolioImage03;
}

.portfolioImage04 {
    /*background-color: yellow;*/
    text-align: center;
    grid-area: portfolioImage04;
}

.portfolioImage05 {
    /*background-color: lightblue;*/
    text-align: center;
    grid-area: portfolioImage05;
}

.portfolioImage06 {
    /*background-color: aqua;*/
    text-align: center;
    grid-area: portfolioImage06;
}

.projectTitle01 {
    /*background-color: purple;*/
    grid-area: projectTitle01;
}

.projectTitle02 {
    /*background-color: red;*/
    grid-area: projectTitle02;
}

.projectTitle03 {
    /*background-color: orange;*/
    grid-area: projectTitle03;
}

.projectTitle04 {
    /*background-color: purple;*/
    grid-area: projectTitle04;
}

.projectTitle05 {
    /*background-color: red;*/
    grid-area: projectTitle05;
}

.projectTitle06 {
    /*background-color: orange;*/
    grid-area: projectTitle06;
}

/*Desktop Grid Container for the Contact page*/
.gridContainerContact {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "contactTitle contactTitle contactTitle"
        "contactMessage contactMessage contactMessage"
        "contactName contactMessageBox contactMessageBox"
        "contactEmail contactMessageBox contactMessageBox"
        "contactSubject contactMessageBox contactMessageBox"
        "contactSubmitButton contactSubmitButton contactSubmitButton"
        "socialMedia socialMedia socialMedia";
    gap: 1rem;
     
}

.contactHeader {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 30px;
}



.contactTitle {
    /*background-color: violet;*/
    justify-content: center;
    grid-area: contactTitle;
}

.contactMessage {
    /*background-color: purple;*/
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    text-align: center;
    grid-area: contactMessage;
}

.contactName {
    /*background-color: red;*/
    grid-area: contactName;
}

.contactMessageBox {
    /*background-color: orange;*/
    grid-area: contactMessageBox;
}

.contactEmail {
    /*background-color: yellow;*/
    grid-area: contactEmail;
}

.contactSubject {
    /*background-color: lime;*/
    grid-area: contactSubject;
}

.contactSubmitButton {
    /*background-color: aqua;*/
    text-align: center;
    grid-area: contactSubmitButton;
}

.socialMedia {
    background-color: blueviolet;
    grid-area: socialMedia;

}

.contactForm {
    display: contents; 
}

input[type="text"], input[type="email"], textarea {
    width: 100%;         
    padding: 10px;      
    margin: 8px 0;       
    border: 1px solid white;  
    background-color: black;
    outline: none;
    color: white;
    border-radius: 5px;  /* Rounded corners */
    font-size: 16px;     
}

textarea {
    height: 90%;
}

::placeholder {
    color: white;
}

.submitButton {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    width: 150px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    /*margin-top: 10px;*/
    margin: 10px 0 0 0;
    background-color: #059DB9;
    font-weight: bold;
    /*border: 1px solid red;*/
    justify-content: center;
}

/*Desktop view*/
@media (min-width: 1001px) and (max-width: 1560px) {

    .servicesImage01 {
        width: 250px !important;
        height: 200px !important;
        align-self: start;
    }

    .servicesImage02 {
        width: 250px !important;
        height: 200px !important;
        align-self: start;
    }

    .servicesImage03 {
        width: 250px !important;
        height: 200px !important;
        align-self: start;
    }

}

/*Tablet*/
@media only screen and (max-width: 1000px) {
    body {
        /*background-color: aqua;*/
        padding: 20px;
    }

    .webPageContainer {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .desktopMenu {
        display: none;
    }

    .tabletMenu {
        display: block;
    }

    /*Tablet*/
    .pageContent {
        /*width: 400px;*/
        margin: 50px 15%;
    }

    .gridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "title"
            "image"
            "text"
            "button";
        gap: 0.2rem;
    }

    .image {
        /*background-color: blue;*/
        padding: 20px;
        margin-top: 20px;
    }

    .text {
        padding: 0 20px;
    }

    /*tablet*/
    .sectionHeader {
        /*border: 1px solid red;*/
        max-width: 70%;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        font-size: 30px;
    }

    .text {
        width: 100%;
        min-width: 350px;
        padding-top: 50px;
        margin: 0 auto;
        font-size: 22px;
        grid-area: text;
    }

    .downloadCVButton {
        margin: 10px 0 100px 0;
    }

    /*tablet*/
    .gridContainerServices {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "servicesTitle servicesTitle"
            "servicesImage01 serviceTitle01"
            "servicesImage01 serviceText01"
            "serviceTitle02 servicesImage02"
            "serviceText02  servicesImage02"
            "servicesImage03 serviceTitle03"
            "servicesImage03 serviceText03";
    }

    .serviceTitles {
        text-align: center;
        /*background-color: pink;*/
    }

    .serviceTitle01 {
        /*background-color: yellow;*/
        text-align:left;
        align-self: end;
    }

    .serviceTitle02 {
        /*background-color: yellow;*/
        align-self: end;
    }

    .serviceTitle03 {
        /*background-color: yellow;*/
        align-self: end;
    }

    .allServicesImages {
        border-radius: 35px;
    }

    /*tablet*/
    .servicesImage01 {
        width: 350px;
        height: 250px;
        align-self: end;
    }

    .servicesImage02 {
        width: 350px;
        height: 250px;
        align-self: end;
    }

    .servicesImage03 {
        width: 350px;
        height: 250px;
        align-self: end;
    }

    /*All service texts */
    .allServiceTexts {
        max-width: 100%;
        text-align: left;
        font-size: 22px;
        color: white;
    }

    .serviceText01 {
        /*background-color: orange;*/
        /*align-self: start;*/
    }
    
    .serviceText02 {
        /*background-color: orange;*/
        /*align-self: start;*/
        max-width: 100%;
    }
    
    .serviceText03 {
        /*background-color: orange;*/
       /*align-self: start;*/
        max-width: 100%;
    }

    /*Tablet Grid Container for the Skills page*/
    .gridContainerSkills {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "skillsTitle skillsTitle"
            "skillsEducation skillsTools"
            "skillsSkills skillsSkills "
            "skillsRealWorld skillsRealWorld"
            "skillsSchool skillsSchool ";
    }

    /*tablet*/    
   .skillsBox{
        width: 630px;
    }

    /*Tablet Grid Container for the Portfolio page*/
    .gridContainerPortfolio {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "portfolioTitle portfolioTitle"
            "portfolioImage01 portfolioImage02"
            "projectTitle01 projectTitle02"
            "portfolioImage03 portfolioImage04"
            "projectTitle03 projectTitle04"
            "portfolioImage05 portfolioImage06"
            "projectTitle05 projectTitle06";
    }

    /*Tablet & Mobile Grid Container for the Contact page*/
    .gridContainerContact {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "contactTitle"
            "contactMessage"
            "contactName"
            "contactEmail"
            "contactSubject"
            "contactMessageBox"
            "contactMessageBox"
            "contactMessageBox"
            "contactSubmitButton"
            "socialMedia";
    }

}


/*Mobile*/
@media only screen and (max-width: 700px) {
    body {
        /*background-color: pink;*/
        padding: 10px;
    }

    .webPageContainer {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .tabletMenu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /*Mobile*/
    .pageContent {
        /*margin: 30px 3%;*/
        width: 80vw;
        margin: 30px auto;
        /*border: 1px solid red*/
    }

    .gridContainerAbout {
        /*width: 285px;*/
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "aboutTitle"
            "aboutImage"
            "aboutText"
            "aboutPurposeTitle"
            "aboutPurposeText";

    }

    /*Mobile*/
    .aboutText {
        width: 100%;
        margin: 0 auto;
        max-width: 285px;
        min-width: 285px;
    }

    /*Mobile*/
    .aboutPurposeText {
        width: 100%;
        margin: 0 auto;
        max-width: 285px;
        min-width: 285px;
    }

    /*Mobile*/
    .aboutImage {
        /*background-color: aqua;*/
        width: 100%;
        max-width: 285px;
        min-width: 260px;
        justify-self: center;
        grid-area: aboutImage;
    }

    /*mobile*/
    .gridContainerServices {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "servicesTitle"
            "servicesImage01"
            "serviceTitle01"
            "serviceText01"
            "servicesImage02"
            "serviceTitle02"
            "serviceText02"
            "servicesImage03"
            "serviceTitle03"
            "serviceText03";
    }

     /*Mobile*/
     .allServiceTexts {
        max-width: 350px;
        text-align: center;
        /*font-size: 22px;*/
    }

    /*Mobile Grid Container for the Skills page*/
    .gridContainerSkills {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "skillsTitle"
            "skillsEducation"
            "skillsTools"
            "skillsSkills"
            "skillsRealWorld"
            "skillsSchool";
    }

    /*Mobile Grid Container for the Portfolio page*/
    .gridContainerPortfolio {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "portfolioTitle"
            "portfolioImage01"
            "projectTitle01"
            "portfolioImage02"
            "projectTitle02"
            "portfolioImage03"
            "projectTitle03"
            "portfolioImage04"
            "projectTitle04"
            "portfolioImage05"
            "projectTitle05"
            "portfolioImage06"
            "projectTitle06";
    }
}






/*------------------------------*/


/*@media screen and (min-width: 601px) and (max-width: 1400px) {
    .mobileMenu {
        display: none !important;
    }
}*/

@media screen and (min-width: 601px) {
    .mobileMenu {
        display: none !important;
    }
}